.CommentsApp__AddComment{
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: 0;
    margin: 40px;
}

.CommentsApp__AddComment--textarea{
    width: 350px;
    height: 100px;
    resize: none;
}

.CommentsApp__AddComment--image{
    width: 75px;
    height: 75px;
    background-color: #cccccc;
    margin: 0 15px;
}